*{
    padding: 5px;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.center1{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    color: mediumslateblue;
    text-align: center;
    text-decoration: underline;

}
table{
    background-color: mediumslateblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}
textarea{
    height: 40px;
}
body > p{
    text-align: center;
}

