
body{
    background-color: black;
    text-align: center;
    color: white;
}
.ToDo{
    margin: auto;
    text-align: center;
    color:gold;
    width: 60%;
}
li{
    list-style-type: none;
    border-bottom: 1px groove honeydew;
    margin: 5px;
}
.list-div{
    margin: auto;
    width: 80%;
}
button{
    margin: 10px;
    border-radius: 15px;
    padding: 5px;
    color: black;
    background-color:springgreen;
}
button:hover{
    background-color:rgb(111, 248, 179);
}
input{
    height:30px;
}
